.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--standard-space);
  width: var(--standard-page-width);
  max-width: 100%;
  margin-top: var(--large-space);

  & > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > div:first-child {
    justify-content: flex-start;
  }

  & > div:last-child {
    justify-content: flex-end;
  }
}

.pagination__link {
  @include button-reset;
  display: flex;
  align-items: center;
  column-gap: var(--smallest-space);
}

.pagination__icon {
  height: 1.2rem;
}
