.container {
  width: 100%;
  max-width: 120rem;

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

.header {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: var(--spacing-xs);
  row-gap: var(--spacing-xxs);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 700;
}

.count {
  color: var(--foreground-shade);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: 400;
}
