.mosaic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.mosaic__item {
  position: relative;
  &:hover {
    z-index: 2;
    & .mosaic__image-container {
      transform: scale(1.05);
    }
  }
}

.mosaic__image-container {
  transition: transform 200ms ease;
}

.mosaic__image-modal {
  display: none;
}

.mosaic__image-toggler {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  &:focus {
    & + .mosaic__image-container {
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    }
  }
  &:checked ~ .mosaic__image-modal {
    display: block;
    transition: none;
    transform: scale(1);
    position: fixed;
    background-color: rgba(#fff, 0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .mosaic__image {
      width: 90%;
      height: 90%;
    }
  }
}
