.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.actions__button {
  padding: 0 1rem;
  &:hover,
  &:focus {
    background-color: grey;
  }
  &--active {
    background-color: black;
    color: white;
  }
}

.repositories {

}

.repositories__item {
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
