.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

.description {
  max-width: 40rem;
  --skeleton-height: 1rem;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 0.25em;
  --skeleton-width: 6rem;
  --skeleton-height: 1rem;
}
