@import "./constants.scss";
@import "./mixins/breakpoints";

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  @include md {
    font-size: $base-font-size * 1.2;
  }
  @include lg {
    font-size: $base-font-size * 1.3;
  }
  @include xl {
    font-size: $base-font-size * 1.4;
  }
}

a {
  text-decoration: none;
}

.title {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
  width: max-content;
  padding: 1rem;

  border: 1px solid #000;

  background-color: #fff;
  color: #000;

  transition: background-color 400ms ease, color 400ms ease;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  &--no-style {
    border: none;
    padding: 0;
  }
}
