.pill {
  display: inline-block;
  color: var(--foreground);
  border: 1px solid var(--focus-border);
  height: 1rem;
  border-radius: var(--standard-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--smallest-space) var(--small-space);
}
