.container {
  width: 100%;
  max-width: 40rem;
  padding: 0 var(--spacing-lg);
  line-height: 1.5;
}

.container h1 {
  font-weight: 700;
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-md);
}

.container h2 {
  font-weight: 700;
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}

.container p {
  margin-bottom: var(--spacing-sm);
}

.container ul {
  list-style: circle;
  padding-left: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.container a {
  color: var(--foreground-accent);
}

.container a:hover {
  text-decoration: underline;
}

.container blockquote {
  margin: var(--spacing-md) 0;
  padding: var(--spacing-sm);
  background-color: var(--platinum);
  border-radius: 5px;
}
