.container {
  position: relative;
  min-width: 0;
  padding: var(--spacing-sm);
  border: 1px solid var(--border-color);
  background: var(--background);
}

.title {
  position: absolute;
  top: 0;
  left: var(--spacing-sm);
  transform: translateY(-50%);
  padding: 0 var(--spacing-xs);
  background: var(--background);
  color: var(--foreground-accent);
  font-family: var(--font-mono);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 700;
}
