.grid {
  display: grid;
  gap: var(--largest-space);
  grid-template-columns: 100%;
  width: 100%;
}

@include breakpoint(large) {
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
