@import "src/style/mixins/breakpoints";

.grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

@include lg {
  .grid {
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    grid-row-gap: 5rem;
  }
}
