.preview-page {
  width: 1200px !important;
  height: 627px !important;

  position: relative;
}

.preview-page__preview-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-page__preview {
  font-size: var(--large-font-size);
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.preview-page--gallery .preview-page__preview {
  font-size: var(--standard-font-size);
}
