.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-md);
  padding: var(--content-padding);
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-sm);
  max-width: var(--content-max-width);
  padding: var(--content-padding);
}

.inputs > *:first-child {
  width: 100%;
}

@media (min-width: 768px) {
  .inputs > *:first-child {
    width: auto;
    margin-right: auto;
  }
}
