.status-line {
  max-width: 100%;
  overflow: hidden;
  height: rem(25px);
  display: flex;
  justify-content: space-between;
}

.status-line__content {
  display: flex;
  align-items: center;

  & > * {
    padding: 0 var(--small-space);
  }
}

.status-line__mode {
  height: 100%;
  display: flex;
  align-items: center;
  width: min-content;
}

.status-line__extension {
  display: none;
}

@include breakpoint(medium) {
  .status-line__extension {
    display: inline-block;
  }
}
