.container {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  position: relative;
  min-width: 0;
}

.avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  --skeleton-width: 1.5em;
  --skeleton-height: 1.5em;
  --skeleton-border-radius: 50%;
  background: var(--skeleton-background);
}

.title {
  flex: 1;
  min-width: 0;
  --skeleton-width: 5rem;
  --skeleton-height: 1em;
  --skeleton-border-radius: 0.5em;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
