.gutter {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;

  padding: em(8px) 0;
  width: em(32px);
}

.gutter__number {
  width: em(16px);
  padding: 0 em(8px);
}
