@import "src/style/mixins/index";

.theme-switch {
  padding: 0.5rem;
  margin: -1rem;
  cursor: pointer;
}

.theme-switch:hover {
  @include hover-border;
}

.theme-switch:focus-within {
  @include focus-border;
}

.theme-switch__input {
  margin: 0;
  width: 0;
  opacity: 0;
}

@include md {
  .theme-switch {
    padding: 1rem;
  }
}
