.container {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xs);
  font-family: var(--font-mono);
  font-size: var(--font-size-lg);
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: var(--line-height-lg);
}

@media (min-width: 992px) {
  .container {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.name {
  color: var(--foreground);
}

@media (max-width: 599px) {
  .name {
    display: none;
  }
}
.name > span {
  color: var(--foreground-accent);
}

.logo {
  width: auto;
  height: 2.5em;
  flex-shrink: 0;
}
