@import './mixins.scss';

html,
body,
#___gatsby {
  height: 100%;
  padding: 0;
  margin: 0;
}

#gatsby-focus-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--standard-space);
  overflow-x: hidden;

  & > * {
    flex-shrink: 0;
    width: var(--standard-page-width);
    max-width: 100%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--standard-font-family);
  font-size: var(--standard-font-size);
  line-height: var(--line-height);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  -webkit-font-smoothing: antialiased;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: var(--foreground);
}

b {
  font-weight: bold;
}

button {
  font-size: var(--standard-font-size);
}

.subtitle {
  font-size: var(--large-font-size);
}

.title {
  font-size: var(--largest-font-size);
  font-weight: 700;
}

.inline-link {
  color: var(--link);
}

*[data-focusable] {
  @include focusable-style;
}

@include breakpoint(medium) {
  #gatsby-focus-wrapper {
    padding: 0 var(--large-space);
  }
}
