:root {
  --max-width: 68.75rem;
  --border-radius: 0.75rem;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground: #333;
  --background: #fff;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #333;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
footer {
  padding: var(--spacing-sm);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
