@mixin button-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

@mixin hover-border {
  border-radius: 0;
  box-shadow: 0px 2px 0px 0px var(--focus-border);
}

@mixin focus-border($color: var(--focus-border)) {
  border-radius: var(--standard-border-radius);
  box-shadow: 0px 0px 0px 2px $color;
  outline: none;
}

@mixin inverted-padding {
  padding: var(--standard-space);
  margin: calc(var(--standard-space) * -1);
}

@mixin focusable-style {
  @include inverted-padding;
  &:hover {
    @include hover-border;
  }
  &:focus {
    @include focus-border;
  }
}

@mixin breakpoint($point) {
  @if $point == small {
    @media screen and (min-width: 576px) {
      @content;
    }
  } @else if $point == medium {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $point == large {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $point == extra-large {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else {
    @media screen and (min-width: $point) {
      @content;
    }
  }
}

@mixin only-IE() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
