body {
  // source: color-name.com
  --white: #ffffff;
  --davys-grey: #5c5c5c;
  --dark-charcoal: #333333;
  --chinese-silver: #cccccc;

  --background: var(--white);
  --focus-border: var(--davys-grey);
  --focus-border-shade-1: var(--chinese-silver);
  --foreground: var(--dark-charcoal);
  --foreground-shade-1: var(--davys-grey);

  // source: iceberg vim color scheme, by cocopon
  --code-block-background: #161821;
  --code-block-foreground: #c6c8d1;
  --code-block-foreground-shade-1: #84a0c6;

  --input-foreground: var(--foreground);
  --input-placeholder: var(--foreground-shade-1);
  --input-icon: var(--foreground);

  &.dark {
    --background: var(--dark-charcoal);
    --focus-border: var(--white);
    --focus-border-shade-1: var(--chinese-silver);
    --foreground: var(--white);
    --foreground-shade-1: var(--chinese-silver);

    // source: iceberg vim color scheme, by cocopon
    --code-block-background: #e8e9ec;
    --code-block-foreground: #33374c;
    --code-block-foreground-shade-1: #2d539e;
  }

  --standard-space: 1rem;
  --small-space: calc(var(--standard-space) / 2);
  --smallest-space: calc(var(--small-space) / 2);
  --large-space: calc(var(--standard-space) * 2);
  --largest-space: calc(var(--large-space) * 2);

  --standard-font-family: 'Source Sans Pro', sans-serif;
  --code-font-family: 'Jetbrains Mono', monospace;
  --line-height: 1.5;

  --standard-font-size: 16px;
  --large-font-size: 20px;
  --largest-font-size: 32px;

  --standard-border-radius: 3px;
}
