.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: var(--spacing-sm);
  row-gap: var(--spacing-sm);
}

.container > *:first-child {
  flex: 1;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--spacing-md);
}

.link {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xs);
  white-space: nowrap;
}

.link.accent {
  color: var(--foreground-accent);
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .links {
    width: auto;
    justify-content: unset;
    column-gap: var(--spacing-md);
  }

  .desktop {
    display: inline;
  }
}
