@import "src/style/mixins/index";

.zoomable {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.zoomable__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: -1rem;
}

.zoomable__image {
  flex: 1;
}

.zoomable__modal {
  display: none;
}

.zoomable__toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.zoomable__toggle:focus + .zoomable__container {
  @include focus-border;
}

.zoomable__container:hover {
  @include hover-border;
}
.zoomable__toggle:checked ~ .zoomable__modal {
  display: block;
  transition: none;
  transform: scale(1);
  position: fixed;
  background-color: rgba(#242424, 0.95);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  & > .zoomable__image {
    max-width: 90%;
    max-height: 90%;
  }
}
