@import "src/style/mixins/index";

html,
body,
body,
#___gatsby {
  height: 100%;
}

#___gatsby > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  & > * {
    flex-shrink: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  @include container-layout;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
