@import "../../style/mixins/breakpoints";

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }
  &__description {
    color: #000;
  }
  &__image-container {
    min-height: 20rem;
    border-radius: 3px;
    border: 1px solid grey;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}

@include lg {
  .card {
    &__image-container {
      min-height: unset;
      height: 20rem;
    }
  }
}

@include xl {
  .card {
    &__image-container {
      height: 30rem;
    }
  }
}
