.card {
  display: flex;
  flex-direction: column;
  row-gap: var(--standard-space);
  position: relative;

  @include invertedPadding;
  &:hover {
    @include hoverBorder;
  }
  &:focus-within {
    @include focusBorder;
  }
}

.card__ghost-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 75%;
  padding: 0;
  pointer-events: none;
  opacity: 0;
}
