@import "src/style/mixins/breakpoints";
@import "src/style/mixins/index";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.card:hover {
  @include hover-border;
}

.card:focus-within {
  @include focus-border;
}

.card > a {
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

.card > a:focus {
  text-decoration: underline;
  outline: none;
}

.card:focus-within > a {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image > div.gatsby-image-wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
}

@include lg {
  .card__image {
    height: 20rem;
  }
}

@include xl {
  .card__image {
    height: 30rem;
  }
}
