@import "../../style/constants";
@import "../../style/mixins/breakpoints";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__title > a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__title > a:focus {
  text-decoration: underline;
  outline: none;
}

.card:focus-within {
  box-shadow: 0px 0px 0px 2px $FOCUS_BORDER;
  border-radius: 5px;
}

.card:focus-within a {
  text-decoration: none;
  outline: none;
}

.card__title > a {
  display: flex;
  flex-direction: column;
}

.card__header {
  padding-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card__stargazers {
  display: flex;
  align-items: center;
  & > img {
    margin-right: 0.2rem;
    height: 1.25rem;
  }
  & > span {
    color: $TEXT;
    font-size: 1rem;
  }
}

.card__infos {
  color: $TEXT;
  flex: 1;
  &:first-of-type {
    margin-bottom: 1rem;
  }
}

.card__image {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
}

.card__image > div.gatsby-image-wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@include lg {
  .card__image {
    min-height: unset;
    height: 20rem;
  }
}

@include xl {
  .card__image {
    height: 30rem;
  }
}
