@import "../../style/mixins/index";

.repository__hero {
  margin-bottom: 2rem;
}

.repository__image {
  padding: 1rem;
  margin: -1rem -1rem 2rem -1rem;
}

.repository__owner-name {
  line-height: 1;
}

.repository__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  &--bottom {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

.repository__nav-link {
  padding: 1rem;
  margin: -1rem;
  display: flex;
  align-items: center;
  width: min-content;
  font-weight: bold;
}

.repository__nav-link-icon {
  height: 1.2rem;
  margin-right: 0.1rem;
}
