@import "src/style/mixins/index";
@import "src/style/mixins/breakpoints";

.search {
  padding: 1rem;
  margin: -1rem;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  &:hover {
    @include hover-border;
  }
  &:focus {
    @include focus-border;
  }
}

.search__input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--input-border);
  background: transparent;
  color: var(--input-color);
  &::placeholder {
    color: var(--input-placeholder);
  }
}

.search__icon {
  width: 1rem;
  height: 1rem;
  color: var(--input-icon);
  &--short {
    width: .9rem;
    height: .9rem;
  }
}

.search__input:focus {
  border-bottom: 2px solid var(--input-border-active);
  & ~ .search__icon-wrapper > .search__icon {
    color: var(--input-icon-active);
  }
}

.search__icon-wrapper {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(calc(-100% - 2rem), -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@include lg {
  .search {
    width: 20rem;
  }
}
