@import "src/style/mixins/index";
@import "src/style/mixins/breakpoints";

.search {
  padding: 1rem;
  margin: -1rem;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.search__overlay-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: -1;
  &:hover,
  &:focus {
    @include no-border;
  }
}

.search__input-wrapper {
  flex: 1;
  border-bottom: 2px solid var(--input-border);
  position: relative;
}

.search__input-wrapper:focus-within {
  border-bottom: 2px solid var(--input-border-active);
}

.search__input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: var(--input-color);
  width: calc(100% - 2rem);
  &::placeholder {
    color: var(--input-placeholder);
  }
}

.search__icon {
  width: 1rem;
  height: 1rem;
  color: var(--input-icon);
  &--short {
    width: 0.9rem;
    height: 0.9rem;
  }
}

.search__icon-wrapper {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@include lg {
  .search {
    width: 15rem;
  }

  .search__overlay-button {
    &:focus {
      @include focus-border;
    }
  }
}
