.container {
  display: flex;
  align-items: center;
  box-shadow: 0 2px var(--foreground);
  width: 15rem;
}

.input {
  border: none;
  flex: 1;
  padding: var(--spacing-xs);
}

.input:focus {
  outline: none;
}

.shortcut.inFocus {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
}

.input:focus ~ .shortcut.inFocus {
  display: inline;
}
.shortcut.outOfFocus {
  width: 0.9rem;
  height: 0.9rem;
}

.input:focus ~ .shortcut.outOfFocus {
  display: none;
}
