@import "./breakpoints";
@import "../constants";

@mixin container-layout {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

@mixin focus-border {
  box-shadow: 0px 0px 0px 2px $FOCUS_BORDER;
  outline: none;
}

@mixin hover-border {
}
