@import "./breakpoints";

@mixin container-layout {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

@mixin offset-container-layout {
  width: 90%;
  @include xl {
    width: 95%;
  }
  max-width: 100rem;
  margin: 0 auto;
}
