@import "./breakpoints";

@mixin container-layout {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

@mixin focus-border {
  box-shadow: 0px 0px 0px 2px var(--focus-border);
  outline: none;
}

@mixin hover-border {
  @media (hover: hover) and (pointer: fine) {
    box-shadow: 0px 4px 0px -2px var(--focus-border);
    outline: none;
    cursor: pointer;
  }
}
