.body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-standard);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-md);
}
