:root {
  color-scheme: light dark;
  --content-max-width: 120rem;
  --header-max-width: 80rem;
  --content-padding: 0 var(--spacing-sm);

  --dark: #333;
  --light: #fff;
  --grey: #5c5c5c;
  --blue: #2855b7;
  --platinum: #e3e3e3;

  --foreground: var(--dark);
  --foreground-shade: var(--grey);
  --foreground-accent: var(--blue);
  --background: var(--light);
  --border-color: var(--dark);

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --spacing-xxl: 16rem;

  --font-size-sm: 0.625rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --line-height-sm: 0.9375rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.875rem;
  --line-height-xl: 3rem;

  --skeleton-background: var(--platinum);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --dark: #e6e6e6;
    --light: #0f1216;
    --grey: #a2a8b4;
    --blue: #79a8ff;
    --platinum: #1a2028;

    --foreground: var(--dark);
    --foreground-shade: var(--grey);
    --foreground-accent: var(--blue);
    --background: var(--light);
    --border-color: #2b3340;

    --skeleton-background: #222a35;
  }
}

@media (min-width: 768px) {
  :root {
    --content-padding: 0 var(--spacing-md);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-standard);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-md);
  overflow-x: hidden;
  line-height: 1.5em;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}
