:root {
  --content-max-width: 68.75rem;

  --dark: #333;
  --light: #fff;
  --grey: #5c5c5c;
  --blue: #2855b7;

  --foreground: var(--dark);
  --foreground-shade: var(--grey);
  --foreground-accent: var(--blue);
  --background: var(--light);
  --border-color: var(--dark);

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;

  --font-size-sm: 0.625rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #333;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-standard);
  font-size: 16px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
footer {
  width: 100%;
  max-width: var(--content-max-width);
  padding: var(--spacing-lg);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Colorscheme color classes */
.CursorFg {
  color: var(--colorscheme-CursorFg, rgba(black, 50%));
}
.CursorBg {
  background: var(--colorscheme-CursorBg, rgba(white, 50%));
}
.StatusLineFg {
  color: var(--colorscheme-StatusLineFg);
}
.StatusLineBg {
  background: var(--colorscheme-StatusLineBg);
}
.StatusLineFg--inverted {
  color: var(--colorscheme-StatusLineBg, var(--normal-bg));
}
.StatusLineBg--inverted {
  background: var(--colorscheme-StatusLineFg, var(--normal-fg));
}
.LineNrFg {
  color: var(--colorscheme-LineNrFg);
}
.LineNrBg {
  background: var(--colorscheme-LineNrBg, var(--colorscheme-NormalBg));
}
.CursorLineFg {
  color: var(--colorscheme-CursorLineFg, var(--colorscheme-LineNrFg));
}
.CursorLineBg {
  background: var(--colorscheme-CursorLineBg, var(--colorscheme-LineNrBg));
}
.CursorLineNrFg {
  color: var(--colorscheme-CursorLineNrFg, var(--colorscheme-LineNrFg));
}
.CursorLineNrBg {
  background: var(--colorscheme-CursorLineNrBg, var(--colorscheme-LineNrBg));
}
.vimLineComment {
  font-style: italic;
  color: var(--colorscheme-vimLineComment);
}
.vimCommand {
  color: var(--colorscheme-vimCommand);
}
.vimFunction {
  color: var(--colorscheme-vimFunction);
}
.vimParenSep {
  color: var(--colorscheme-vimParenSep);
}
.vimOperParen {
  color: var(--colorscheme-vimOperParen);
}
.vimFuncBody {
  color: var(--colorscheme-vimFuncBody);
}
.vimIsCommand {
  color: var(--colorscheme-vimIsCommand);
}
.vimLet {
  color: var(--colorscheme-vimLet);
}
.vimVar {
  color: var(--colorscheme-vimVar);
}
.vimOper {
  color: var(--colorscheme-vimOper);
}
.vimFuncName {
  color: var(--colorscheme-vimFuncName);
}
.vimFuncVar {
  color: var(--colorscheme-vimFuncVar);
}
.vimString {
  color: var(--colorscheme-vimString);
}
.vimSubst {
  color: var(--colorscheme-vimSubst);
}
.vimNumber {
  color: var(--colorscheme-vimNumber);
}
.vimNotFunc {
  color: var(--colorscheme-vimNotFunc);
}
