:root {
  --content-max-width: 80rem;
  --content-padding: 0 var(--spacing-sm);

  --dark: #333;
  --light: #fff;
  --grey: #5c5c5c;
  --blue: #2855b7;
  --platinum: #e3e3e3;

  --foreground: var(--dark);
  --foreground-shade: var(--grey);
  --foreground-accent: var(--blue);
  --background: var(--light);
  --border-color: var(--dark);

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --spacing-xxl: 16rem;

  --font-size-sm: 0.625rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --line-height-sm: 0.9375rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.875rem;
  --line-height-xl: 3rem;
}

@media (min-width: 768px) {
  :root {
    --content-padding: 0 var(--spacing-md);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-standard);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-md);
  overflow-x: hidden;
  line-height: 1.5em;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}
