:root {
  color-scheme: light dark;
  --content-max-width: 160rem;
  --page-max-width: var(--content-max-width);
  --content-padding: 0 var(--spacing-sm);

  --dark: #1f2328;
  --light: #e7e8e4;
  --grey: #697077;
  --blue: #4f6673;
  --platinum: #d8dad5;

  --foreground: var(--dark);
  --foreground-shade: var(--grey);
  --foreground-accent: var(--blue);
  --background: var(--light);
  --border-color: #9ea5a5;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --spacing-xxl: 16rem;

  --font-size-sm: 0.625rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --line-height-sm: 0.9375rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.875rem;
  --line-height-xl: 3rem;

  --skeleton-background: var(--platinum);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --dark: #e7e9e4;
    --light: #141719;
    --grey: #a0a8aa;
    --blue: #8fb1bd;
    --platinum: #24282b;

    --foreground: var(--dark);
    --foreground-shade: var(--grey);
    --foreground-accent: var(--blue);
    --background: var(--light);
    --border-color: #3d464a;

    --skeleton-background: #2c3134;
  }
}

@media (min-width: 768px) {
  :root {
    --content-padding: 0 var(--spacing-md);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-standard);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  line-height: 1.5em;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (hover: none) {
  a:hover {
    text-decoration: none;
  }
}

a:focus-visible {
  outline: 2px solid var(--foreground-accent);
  outline-offset: var(--spacing-xs);
  text-decoration: underline;
}

strong {
  font-weight: bold;
}
