.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  margin-top: var(--spacing-sm);

  --skeleton-width: 100%;
  --skeleton-height: 24.5rem;
}

.skeleton {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .container {
    --skeleton-width: 40.5rem;
  }
  .container:not(:has(> :only-child)) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .container:has(> :only-child) {
    grid-template-columns: fit-content(50rem);
  }
}
