.container {
  max-width: 100%;
  display: flex;
  align-items: center;
  column-gap: var(--spacing-md);
  font-weight: bold;
  position: relative;
}

@media (max-width: 599px) {
  .container {
    column-gap: var(--spacing-sm);
  }
}

.legend {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.list {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-md);
}

@media (max-width: 599px) {
  .list {
    column-gap: var(--spacing-sm);
  }
}

.option {
  white-space: nowrap;
}

.button {
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.option.active {
  color: var(--foreground-accent);
}
