.container {
  max-width: 100%;
  display: flex;
  align-items: center;
  column-gap: var(--spacing-md);
  font-weight: bold;
  position: relative;
}

.legend {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.list {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-md);
}

.option {
  white-space: nowrap;
}

.option.active {
  color: var(--foreground-accent);
}

.option:not(.active):hover,
.option:not(.active):focus-visible {
  color: var(--foreground-accent);
  text-decoration: underline;
}
