@import "src/style/mixins/index";

.header {
  min-height: 5rem;
  padding: 2rem 0 0;
  display: flex;
  align-items: center;
  position: relative;
}

.header__content {
  @include container-layout;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.header__sub-content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & > * {
    margin: -1rem -1rem 1rem -1rem;
    &:last-child {
      margin: -1rem;
    }
  }
}

.header__nav {
  padding: 1rem;
  margin: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__link {
  color: var(--text);
  padding: 1rem;
  margin: -1rem;
}

@include lg {
  .header {
    padding: 2rem 0;
  }
  .header__content {
    flex-direction: row;
  }
  .header__sub-content {
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    & > * {
      margin: -1rem 2rem -1rem -1rem;
      &:last-child {
        margin: -1rem;
      }
    }
  }
}
