@import "../../style/mixins/index";
@import "../../style/constants";

.header {
  min-height: 5rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  background: #fff;
}

.header__content {
  @include offset-container-layout;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  color: $TEXT;
  padding: 1rem;
  margin: -1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: -1rem;
  & > img {
    height: 5rem;
  }
  & > span {
    color: $TEXT_PALE;
    display: none;
    font-size: 2rem;
    text-decoration: none;
    margin: 0;
    &:first-of-type {
      color: $TEXT;
      margin-left: 0.5rem;
    }
  }
}

@include lg {
  .header__logo > span {
    display: block;
  }
}
