@import "../../style/mixins/index";

.header {
  min-height: 5rem;
  display: flex;
  align-items: center;
  background: #dee1e6;
  color: #333333;
  &__content {
    @include offset-container-layout;

    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__link {
    color: #333333;
  }
}
.header__title {
  font-family: "Major Mono Display", monospace;
  font-size: 5rem;
  margin: 0;
  text-decoration: none;
  & > span:first-child {
    color: #333333;
    font-weight: normal;
  }
  & > span:nth-child(2) {
    color: #d49191;
    font-weight: bold;
  }
  & > span:nth-child(3) {
    color: #7295a8;
    font-weight: bold;
  }
}
