$BLACK: #36313d;
$BLACK_PALE: rgba($BLACK, 0.8);

$TEXT: $BLACK;
$TEXT_PALE: $BLACK_PALE;

$FOCUS_BORDER: $BLACK_PALE;

$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-color: $TEXT;
