@import "src/style/mixins/breakpoints";
@import "src/style/mixins/index";

body {
  --white: #fff;
  --black: #333333;
  --blue: #2855b7;
  --blue-pale: #85a9f7;

  --white-pale: #cccccc;
  --black-pale: #5c5c5c;

  --font-family: "Source Sans Pro", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  --link: var(--blue);
  --text: var(--black);
  --text-pale: var(--black-pale);
  --focus-border: var(--black-pale);
  --background: var(--white);

  &.dark {
    --link: var(--blue-pale);
    --text: var(--white);
    --text-pale: var(--white-pale);
    --focus-border: var(--white-pale);
    --background: var(--black);
  }

  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);
  color: var(--text);
  background: var(--background);

  transition: background 300ms ease, color 300ms ease;
}

a {
  color: var(--text);
  text-decoration: none;
  &:hover {
    @include hover-border;
  }
  &:focus {
    @include focus-border;
  }
}

strong {
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.inline-link {
  color: var(--link);
}
