@import "./constants.scss";
@import "./mixins/breakpoints";
@import "./mixins/index";

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;700&display=swap");

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $base-line-height;
  color: $base-color;
}

a {
  color: $TEXT;
  text-decoration: none;
  &:hover {
    @include hover-border;
  }
  &:focus {
    @include focus-border;
  }
}

strong {
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}
