@import "src/style/mixins/breakpoints";
@import "src/style/mixins/index";

body {
  --white: #fff;
  --white-rgb: 255, 255, 255;

  --black: #333333;
  --black-rgb: 51, 51, 51;

  --blue: #2855b7;
  --blue-pale: #85a9f7;

  --white-pale: #cccccc;
  --black-pale: #5c5c5c;

  --grey: #aaaaaa;
  --grey-pale: #e3e3e3;

  --font-family: "Source Sans Pro", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  --link: var(--blue);
  --text: var(--black);
  --text-pale: var(--black-pale);
  --focus-border: var(--black-pale);
  --background: var(--white);
  --background-rgb: var(--white-rgb);

  --blockquote-background: var(--grey-pale);

  --input-border: var(--black-pale);
  --input-placeholder: var(--grey);
  --input-border-active: var(--black-pale);
  --input-icon: var(--black-pale);
  --input-font-size: 16px;

  &.dark {
    --link: var(--blue-pale);
    --text: var(--white);
    --text-pale: var(--white-pale);
    --focus-border: var(--white-pale);
    --background: var(--black);
    --background-rgb: var(--black-rgb);

    --blockquote-background: var(--black-pale);

    --input-border: var(--white-pale);
    --input-placeholder: var(--grey);
    --input-border-active: var(--white-pale);
    --input-icon: var(--white-pale);
  }

  --title-font-size: 1.5rem;
  --subtitle-font-size: 1.25rem;
  @include sm {
    --title-font-size: 2rem;
    --subtitle-font-size: 1.5rem;
  }

  --input-color: var(--text);

  font-family: var(--font-family);
  font-size: var(--font-size);
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);
  color: var(--text);
  background: var(--background);

  transition: background 300ms ease, color 300ms ease;
}

* {
  -webkit-font-smoothing: antialiased;
}

a,
button {
  color: var(--text);
  text-decoration: none;
  &:hover {
    @include hover-border;
  }
  &:focus {
    @include focus-border;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  padding: 1rem;
  background: var(--blockquote-background);
  margin: 1rem 0;
}

input {
  font-size: var(--input-font-size);
}

.title {
  font-size: var(--title-font-size);
  font-weight: 700;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: bold;
}

.inline-link {
  color: var(--link);
}
