$row-height: 1.25rem;

.meta {
  display: flex;
  flex-direction: column;
  row-gap: var(--standard-space);
}

.meta-header {
  display: flex;
  flex-direction: column;
  row-gap: var(--small-space);
  margin-bottom: var(--small-space);
}

.meta-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $row-height;
}

.meta-header__statistic {
  display: flex;
  align-items: center;
  column-gap: var(--smallest-space);
}

.meta-header__icon {
  line-height: $row-height;
}

.meta-footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--smallest-space);
}

.meta-footer__row {
  line-height: $row-height;
}
