.background-switch {
  position: relative;
  cursor: pointer;
  padding: 1rem;
  background: var(--code-block-background);
  color: var(--code-block-foreground);
  border-radius: var(--standard-border-radius);

  &:hover,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.background-switch__input {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.background-switch__indicator {
  padding: var(--smallest-space);
  margin: calc(var(--smallest-space) * -1);
}

.background-switch__indicator-operator {
  color: var(--code-block-foreground-shade-1);
}

.background-switch:hover .background-switch__indicator {
  box-shadow: 0px 2px 0px 0px var(--code-block-foreground-shade-1);
}

.background-switch__input:focus ~ * .background-switch__indicator {
  box-shadow: 0px 0px 0px 2px var(--code-block-foreground-shade-1);
}
