@import "src/style/mixins/breakpoints.scss";

.site-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  margin: -1rem;
  width: min-content;
  font-size: 1rem;
}

.site-title__logo {
  height: 2.5em;
}

.site-title:not(.site-title--vertical) {
  & .site-title__name {
    margin-left: 0.5rem;
  }
}

.site-title__name-part {
  color: var(--text-pale);
  font-size: 1em;
  text-decoration: none;
  margin: 0;
  &:first-of-type {
    color: var(--text);
  }
}

@include md {
  .site-title {
    padding: 1rem;
  }
}

@include lg {
  .site-title {
    font-size: 2em;
  }
}
