.vimrc__content {
  display: flex;
  flex-direction: column;
}

button.vimrc__button {
  @include button-reset;

  font-family: var(--code-font-family);
  font-size: inherit;
  cursor: pointer;
  padding: 0 var(--smallest-space);
  margin: calc(var(--smallest-space) * -1);
  display: inline-flex;
  align-items: center;
  column-gap: 0.1rem;

  --border-color: var(--vim-vimCommand, var(--vim-vimOper, var(--normal-fg)));

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      box-shadow: 0px 2px 0px 0px var(--border-color);
    }
  }

  &:focus {
    @media (hover: hover) and (pointer: fine) {
      border-radius: var(--standard-border-radius);
      box-shadow: 0px 0px 0px 2px var(--border-color);
      outline: none;
    }
  }
}

.vimrc__button-icon {
  width: 1em;
  height: 1em;
}
