.vimrc__content {
  display: flex;
  flex-direction: column;
}

button.vimrc__button {
  @include buttonReset;

  cursor: pointer;

  padding: var(--smallest-space);
  margin: calc(var(--smallest-space) * -1);

  display: inline-flex;
  align-items: center;
  column-gap: 0.1rem;

  --border-color: var(--vim-vimCommand, var(--vim-vimOper, var(--normal-fg)));

  &:hover {
    box-shadow: 0px 2px 0px 0px var(--border-color);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px var(--border-color);
    outline: none;
  }
}

.vimrc__button-icon {
  width: var(--standard-space);
  height: var(--standard-space);
}
