@import "../../style/mixins/breakpoints";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  & > * {
    text-align: center;
  }
  & * + * {
    margin-top: 1rem;
  }
}

.intro__highlight {
  font-size: 2rem;
}

.intro__instruction {
  display: none;
}

@include lg {
  .intro {
    margin: 3rem 0;
  }
  .intro__instruction {
    display: block;
  }
}
