@import "src/style/mixins/breakpoints";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 1rem auto;
  & > * {
    text-align: center;
  }
  & * + * {
    margin-top: 1rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}

.intro__highlight {
  font-size: 2rem;
}

.intro__instruction {
  display: none;
}

@include lg {
  .intro {
    margin: 3rem 0;
    max-width: unset;

    .subtitle {
      font-size: 1.5rem;
    }
  }
  .intro__instruction {
    display: block;
  }
}
