.container {
  width: 100%;
  max-width: var(--content-max-width);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-sm);
}
