@import "src/style/mixins/index";
@import "src/style/mixins/breakpoints";

.footer {
  @include container-layout;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  & > * {
    padding: 1rem;
    margin: -1rem;
    &.accent {
      color: var(--link);
    }
  }
}

@include lg {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__nav {
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 0;
    & > * {
      padding: 1rem;
      margin: -1rem 2rem -1rem -1rem;
      &:last-child {
        margin: -1rem;
      }
    }
  }
}
