.container {
  width: 100%;
  max-width: var(--page-max-width);
  padding: var(--content-padding);
  padding-top: var(--spacing-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
  justify-content: space-between;
}
