@import "./breakpoints";

@mixin container-layout {
  padding-left: 4%;
  padding-right: 4%;
  @include md {
    padding-left: 8%;
    padding-right: 8%;
  }
  @include lg {
    padding-left: 12%;
    padding-right: 12%;
  }
  @include xl {
    padding-left: 18%;
    padding-right: 18%;
  }
}
