.container {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xxs);
  padding: 0;

  --skeleton-width: 10rem;
  --skeleton-height: 1rem;
}

a.link {
  cursor: pointer;
}
a.link:hover {
  text-decoration: underline;
}

.back {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--foreground);
  cursor: pointer;
}

.back:hover {
  text-decoration: underline;
}

.back > svg {
  width: 1.25rem;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .desktop {
    display: inline;
  }
}
