@import "../../style/mixins/breakpoints";
@import "../../style/mixins/index";

.header {
  background: rebeccapurple;
  margin-bottom: 1.45rem;
  height: 5rem;
  display: flex;
  align-items: center;
  &__content {
    width: 100%;
    @include container-layout;
  }
  &__title {
    margin: 0;
  }
  &__title-link {
    color: #fff;
    text-decoration: none;
  }
}
