@import "../../style/mixins/breakpoints";
@import "../../style/mixins/index";

.header {
  background: rebeccapurple;
  height: 5rem;
  display: flex;
  align-items: center;
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include container-layout;
  }
  &__title {
    margin: 0;
    color: #fff;
    text-decoration: none;
  }
  &__link {
    color: #fff;
  }
}
