.filters {
  display: flex;
  align-items: center;
  column-gap: var(--standard-space);
}

.filters__inputs {
  display: flex;
  align-items: center;
  column-gap: var(--large-space);

  @include inverted-padding;

  &:hover {
    @include hover-border;
  }

  &:focus-within {
    @include focus-border;
  }
}

.filters__input-container {
  display: flex;
  align-items: center;
  column-gap: var(--small-space);
  cursor: pointer;
  position: relative;

  @include inverted-padding;

  & > svg {
    width: rem(25px);
  }
}

.filters__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
