.container {
  display: flex;
  justify-content: space-between;
  column-gap: var(--spacing-xs);
}

.titleContainer {
  height: 3.5rem;
  overflow-wrap: anywhere;
  --skeleton-width: 5rem;
  --skeleton-height: 0.75rem;
}

.title {
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-md);
  margin-bottom: var(--spacing-xs);
  --skeleton-width: 13rem;
  --skeleton-height: var(--line-height-md);
}

.owner {
  position: relative;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stat {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xxs);
  --skeleton-width: 1.6rem;
  --skeleton-height: 1rem;
}
