.container {
  display: flex;
  justify-content: space-between;
  column-gap: var(--spacing-xs);
  min-width: 0;
}

.titleContainer {
  flex: 1;
  min-width: 0;
  min-height: 3.5rem;
  overflow-wrap: anywhere;
  --skeleton-width: 5rem;
  --skeleton-height: 0.75rem;
}

.title {
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 1.1;
  margin-bottom: var(--spacing-xxs);
  --skeleton-width: 13rem;
  --skeleton-height: 1.1em;
}

.owner {
  position: relative;
  display: block;
  min-width: 0;
}

.ownerTitle {
  margin-bottom: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}

.stat {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-xxs);
  --skeleton-width: 1.6rem;
  --skeleton-height: 1rem;
}
