.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--spacing-sm);
}

@media (min-width: 57rem) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 86rem) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 115rem) {
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
