.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: calc(var(--standard-space) * 3);
  padding: var(--large-space) var(--standard-space);
}

.actions__action {
  text-decoration: none;

  &--active {
    box-shadow: 0px 2px 0px 0px var(--focus-border);
  }
}
