@import "src/style/mixins/index";

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  padding: 0.5rem 0;
  overflow-x: auto;
  box-shadow: 5px 0 5px -5px rgba(51, 51, 51, 0.23);
}

.actions__item {
  cursor: pointer;
  padding: 1rem;
  position: relative;
  margin-left: 1rem;
  &:first-of-type {
    margin-left: 0;
  }
  &--active {
    box-shadow: 0px 4px 0px -2px var(--focus-border);
  }
  &:focus-within {
    @include focus-border;
  }
}

.actions__item > a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.actions__item > a:hover {
  box-shadow: none;
}

.actions__item > a:focus {
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

.actions__item:focus-within {
  @include focus-border;
}

.actions__item:hover {
  @include hover-border;
}

.actions__item:focus-within a {
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: none;
}

@include md {
  .actions {
    align-items: unset;
    justify-content: flex-end;
    margin: 1rem -1rem;
    padding: 0;
    flex-wrap: wrap; 
    overflow-x: hidden;
    box-shadow: none;
  }
}