.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 var(--spacing-lg);
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacing-sm);
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
